services:
  app:
    build:
      context: ./app
      dockerfile: Dockerfile
    #mem_limit: 200m
    volumes:
      - ./app:/app
    ports:
      - "8000:8000"
    environment:
      - PYTHONUNBUFFERED=1
      - TZ=Asia/Shanghai
      #- ES_HOST=172.26.219.10
      #- ES_PORT=9200
      - ES_URL=http://172.26.219.10:9200
    #networks:
    #  - shared-network

  #elasticsearch:
  #  image: elasticsearch:8.18.0
  #  mem_limit: 700m
  #  #container_name: elasticsearch
  #  environment:
  #    - discovery.type=single-node
  #    - xpack.security.enabled=false
  #    - "ES_JAVA_OPTS=-Xms128m -Xmx256m"
  #  volumes:
  #    - /etc/localtime:/etc/localtime:ro
  #    - ./es_data:/usr/share/elasticsearch/data
  #  networks:
  #    - shared-network

networks:
  shared-network:
    external: true
